<div class="<%= user_signed_in? ? 'banner_home' : 'banner-img' %>">

  <div class="container">
    <h1 id="banner_h">REACH FOR THE SKY</h1>
    <% if !current_user %>
    <h2 class="btn btn-primary"><%= link_to "Sign up now!", new_user_registration_path %> </h2>
    <% end %>
  </div>
</div>
<div class="contain">
  <div class="row">
    <h2 class ="card-header-index">All <%= @spaceships.length %> Spaceships</h2>
  </div>
  <div class="row">
    <% if policy(Spaceship).create? %>
    <%= link_to new_spaceship_path(@spaceship) do %>
      <p class="new-spaceship-button">List a new spaceship</p>
    <% end %>
  <% end %></div>
  <div class="row">
    <div class="cards">
      <% @spaceships.each do |spaceship| %>
      <div class="card">
        <div class="card_link">
          <%= link_to spaceship_path(spaceship) do %>
          <div class="card-image">
            <%= cl_image_tag spaceship.photo, class: "card-image" %>
          </div>
          <div class="avatar-img-spaceship"><%= cl_image_tag spaceship.user.photo%></div>
          <div class="card-text">
            <h3 class="card-name"><%= spaceship.name %></h3>
            <p class="card-address"><span class="text-topic">Launch Site:</span> <%= spaceship.launch_site %></p>
            <p class="card-cost"><span class="text-topic">Ticket Price:</span> $<%= spaceship.cost %></p>
          </div>
          <% end %>
        </div>
        <% if (current_user && policy(spaceship).edit?) || (current_user && policy(spaceship).destroy?) %>
        <div class="card-actions">
          <% if current_user && policy(spaceship).edit? %>
          <p><%=link_to "Edit", edit_spaceship_path(spaceship)%></p>
          <% end %>
          <% if current_user && policy(spaceship).destroy? %>
          <p class="delete_action"><%=link_to "Delete", spaceship_path(spaceship), method: :delete, data: { confirm: "Are you sure?" }%></p>
          <% end %>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<!--      <div class="map">
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
    data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
  ></div> -->
