<div class="banner">
  <div class="container">
    <h1>Welcome to your first trip to the <span id="stars">Stars</span></h1>
    <a class="btn-primary" href="#">Sign up now!</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>All Spaceships</h2>
  </div>

  <div class="row">
    <h4>All <%= @spaceships.length %> Spaceships</h4>
  </div>
  <div class="row">
    <div class="cards">
      <% @spaceships.each do |spaceship| %>
      <div class="card">
        <div class="card-image">
        <%= cl_image_tag spaceship.photo, height: 300, width: 400, crop: :fill, class:"spaceship-images" %>
        </div>
        <div class="card-text">
          <h2 class="card-name"><%= spaceship.name %></h2>
          <h4 class="card-address"><%= spaceship.launch_site %></h4>
          <p>$<%= spaceship.cost %> per launch</p>
          <div class="card-actions">
            <%=link_to "Delete this spaceship", spaceship_path(spaceship), method: :delete, data: { confirm: 'Are you sure?' }%>
            <%=link_to "Edit this spaceship", edit_spaceship_path(spaceship)%> <br>
            <p><%= link_to "More info", spaceship_path(spaceship) %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% if policy(Spaceship).create? %>
        <p><%= link_to "List a new spaceship", new_spaceship_path(@spaceship) %></p>
        <% end %>
    </div>
  </div>
</div>

