<div class="banner">
  <div class="container">
    <h1>Welcome to your first trip to the <span id="stars">Stars</span></h1>
    <a class="btn-primary" href="#">Sign up now!</a>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>All Spaceships</h2>
    <p><%= link_to "List a new spaceship", new_spaceship_path(@spaceship) %></p>
  </div>

  <div class="row">
    <h4>All <%= @spaceships.length %> Spaceships</h4>
  </div>
   <div class="row">
    <div class="cards">
      <% @spaceships.each do |spaceship| %>
      <div class="card">
        <div class="card-image">
        <%= cl_image_tag spaceship.photo %>
        </div>
        <div class="card-text">
          <h2 class="card-name"><%= spaceship.name %></h2>
          <p class="card-address">Launch Site: <%= spaceship.launch_site %></p>
          <p>Ticket Price: $<%= spaceship.cost %></p>
          <div class="card-actions">
            <%=link_to "Delete this spaceship", spaceship_path(spaceship), method: :delete, data: { confirm: 'Are you sure?' }%>
            <%= link_to "More Info", spaceship_path(spaceship) %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
