<div class="banner-home">
  <div class="container">
    <h1>Welcome to your first trip to the <span id="stars">stars</span></h1>
    <% if !current_user %>
    <%= link_to "Sign up now", new_user_registration_path, class: "btn-primary" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row">
    <h2>All Spaceships</h2>
  </div>

  <div class="row">
    <h4>All <%= @spaceships.length %> Spaceships</h4>
  </div>
  <div class="row">
    <div class="cards">
      <% @spaceships.each do |spaceship| %>
      <div class="card">
        <div class="card-image">
        <%= cl_image_tag spaceship.photo %>
        </div>
        <div class="card-text">
          <h2 class="card-name"><%= spaceship.name %></h2>
          <p class="card-address"><%= spaceship.launch_site %></p>
          <p>Ticket Price: <%= spaceship.cost %>$</p>
          <div class="card-actions">
            <% if current_user && policy(spaceship).destroy? %>
            <%=link_to "Delete this spaceship", spaceship_path(spaceship), method: :delete, data: { confirm: 'Are you sure?' }%>
            <% end %>
            <% if current_user && policy(spaceship).edit? %>
            <%=link_to "Edit this spaceship", edit_spaceship_path(spaceship)%> <br>
            <% end %>
            <p><%= link_to "More info", spaceship_path(spaceship) %></p>
          </div>
        </div>
      </div>
      <% end %>
      <% if policy(Spaceship).create? %>
        <p><%= link_to "List a new spaceship", new_spaceship_path(@spaceship) %></p>
        <% end %>
    </div>
  </div>
</div>

