<h1>Rent your spaceship</h1>
<p>Earn money as a spaceship host!</p>

<div class="d-flex">
  <div class="container">
    <div class="banner">
      <div class="row">
        <div class="col-12">
          <h3>Fill out the form to begin renting out your spaceship</h3>
          <%= simple_form_for (@spaceship) do |f| %>
          <% if @spaceship.errors.any? %>
          <div class="errors-container">
            <ul>
              <% @spaceship.errors.full_messages.each do |message| %>
              <li><%= message %></li>
              <% end %>
            </ul>
          </div>
          <% end %>
          <div class="form-inputs">
            <h3 id="spaceship-details">Add your spaceship's details below</h3>
            <%= image_tag "accelerate-dribbble.gif", class: "avatar-createspaceship" %>
            <%= f.input :name %>
            <%= f.input :cost %>
            <%= f.input :launch_site %>
            <%= f.input :photo %>
            <%= f.input :photo_cache, as: :hidden %>
          </div>
          <div class="form-actions">
            <%= f.submit class: "", value:"List Spaceship" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>























