<div class="container-show">
  <div class="row-show">
    <div class="image_banner">
      <%= cl_image_tag @spaceship.photo %>
    </div>
  </div>
</div>

<!-- <h1><%= @spaceship.name %></h1>
<p><%= @spaceship.cost %></p>
<p><%= @spaceship.launch_site %></p>
<% if current_user && policy(@spaceship).destroy? %>
<%=link_to "Delete this spaceship", spaceship_path, method: :delete, data: { confirm: 'Are you sure?' }%> <br>
<% end %>
<% if current_user && policy(@spaceship).edit? %>
<%=link_to "Edit this spaceship", edit_spaceship_path(@spaceship)%> <br>
<% end %>
<%= link_to "back to main page", spaceships_path %>
 -->
